@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* document reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

:root {
  --color-1: #0079FF;
  --color-2: #697C9A;
  --color-3:#4B6A9B;
  --color-4: #2B3442;
  --color-5: #F6F8FF;
  --color-6: #FEFEFE;
  --color-7: #ffffff;
  --color-8: #141D2F;
  --color-9:#1E2A47;

  --h1: clamp(26px, 3vw, 28px);
  --h2: clamp(16px, 3vw, 22px);
  --h3: clamp(13px, 3vw, 16px);
  --h4: clamp(13px, 3vw, 15px);
  --h5: clamp(11px, 3vw, 13px);
}

/* general style */
section {
  background-color: var(--color-8);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: min(740px, 90%);
  margin-inline: auto;
}


header {
  display: flex;
  justify-content: space-between;
  color: var(--color-7);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

p {
  font-size: 50px;
  text-align: center;
  color: var(--color-1);
  font-weight: 900;
}

.theme {
  display: flex;
  align-items: center;
  gap: .5rem;
}

button {
  background-color: var(--color-1);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10px;
}

.search-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-9);
  border-radius: 15px;
  margin-block: 2rem;
}

.srch {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 80%;
}

input {
  background-color: transparent;
  width: 100%;
  padding: .5rem;
  border: none;
}

input:focus {
  border: none;
  outline: none;
}
